/* Gray background for the entire page */
.page {
    background-color: #dddddb;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0.625rem;
    /* 10px */
}

/* White container for title and form fields */
.login-container {
    grid-column: 4 / span 5;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    padding: 1.875rem;
    /* 30px */
    border-radius: 0.5rem;
    /* 8px */
    box-shadow: 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    /* 4px 10px */
    width: 100%;
    /* 600px */
    margin: auto;
}

.login-container h1 {
    color: #124b35;
    font-size: 40px;;
    /* 48px */
    font-weight: 700;
    padding-bottom: 5px;
    /* 10px */
    text-align: center;
}

.login-container h2 {
    color: #c69214;
    font-weight: 10;
    text-align: center;
}


/* Logo styling */
.logo {
    width: 12.5rem;
    /* 200px */
    height: auto;
}


/* Form styling */
.login-form {
    align-items: center;
    margin-top: 1.875rem;
    /* 30px */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    /* 25px */
}

/* Input container with label and input side by side */
.userpassinput {
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    padding: 0.625rem;
    width: 100%;
}

/* Label styling */
.userpassinput label {
    color: #333;
    margin-right: 1rem; /* Adjust spacing between label and input */
    font-weight: bold;
    flex-shrink: 0;
    
}

/* Styling for input fields */
.userpassinput input {
    padding: 0.625rem;
    width: 100%; /* Take up full space in the container */
    border: 0.0625rem solid #c69214;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: white;
}

/* Submit button styling */
.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
    /* 10px */
}

/* Button styling */
.submit-button button {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    background-color: #124b35;
    color: white;
    border: none;
    border-radius: 0.25rem;
    /* 4px */
    font-size: 1rem;
    /* 16px */
    cursor: pointer;
}

/* Button hover effect */
.submit-button button:hover {
    background-color: #0d3827;
}

/* Mobile responsiveness */
@media (max-width: 600px) {


    /* Resize logo for smaller screens */
    .logo {
        width: 10rem;
        /* 160px */
    }

    /* Adjust font size for header */
    .login-header {
        font-size: 2rem;
        /* 32px */
    }

    .login-title {
        font-size: 1.25rem;
        /* 20px */
    }

    /* Make input fields full width */
    .input input {
        width: 100%;
    }

    /* Adjust button size */
    .submit-button button {
        width: 70%;
    }
}